
<!-- <!DOCTYPE html> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>메르스 지도</title>
	 <link rel="shortcut icon" href="logo2.png" />

	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/viz.css">
</head>


<body>
	
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

	<div id="vizcontainer" style="width:100%;height:100%">
		<svg id="graphSVG" style="border:1px lightgray solid;">
				<g id="graphG" />
			<div id="modal">
				<div id="content"></div>
				<button id="modalClose" onclick="nodeFocus=false;nodeOut();d3.select('#modal').style('display','none');">X</button>
			</div>
	</div>
	<div id="controls">
	</div>

	<h1>메르스 지도
		<!-- <br><span style="font-size: 10px; color: rgba(255,255,255,0.8)">Mers Map in South Korea</span> -->
		<br><span style="font-size: 11px; color: rgba(255,255,255,0.8)">
			확진자 병원 위치 별 데이터
		</span>
	</h1>

	<div id="title">
		6월 17일자 확진자 데이터
		<br><br>
		<!-- <span style="font-size: 12px; color: rgba(255,255,255,0.6); letter-spacing: 1px;">
			| 총 확진자: 10명 <br>
			| 사망: 20
		</span> -->
		<!-- <hr style="width: 90%; opacity: 0.3; stroke:red"> -->
	</div>
	<div class="title2">
		| 확진자 <span id="total_num">164</span>명 중 사망 
		  <span id="death_num" style="color:#ed526f; font-weight: bold;">30</span>명
	</div>

	<!-- mode buttons -->
	<div id="icon_set"></div>
	
	<div id='icon_time'><br>시간별</div>
	<div id='icon_age'><br>나이별</div>
	<div id='icon_network'><br>감염경로</div>

	<div class='custom-popup' id='map'></div> 

	<div id='bg'></div>
	<div id='viz'></div>
	<div id='viz2'></div>


	<!-- library -->
	<script src="/js/d3.min.js"></script>
	<script src="/js/queue.min.js"></script>
	<script src="/js/sigma.min.js"></script>
	<script src="/js/gexf-parser.js"></script>
	<script src="/js/sigma.parsers.gexf.js"></script>


	<!-- javascript -->
	<script src="/js/viz2.js"></script>
	<script src="/js/main_selection.js"></script>
	<script src="/js/main.js"></script>
 	<script src="/js/network2.js"></script>

	<script src="/js/mode.js"></script>
	
</body>
</html>

