<!-- <!DOCTYPE html> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta charset="utf-8">
	<title>MERS SPREAD</title>
	 <link rel="shortcut icon" href="logo2.png" />

	<!-- // <script src="//code.jquery.com/jquery-1.11.2.min.js"></script> -->
	<script src="/js/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="/css/scroll.css">
	<link rel="stylesheet" href="/css/scroll_news.css">
	<link rel="stylesheet" href="/css/map.css">

</head>


<body>

	<div id="title">MERS SPREAD
		<br>
		<!-- IN SOUTH KOREA -->
		<span style="font-weight:300;font-size:20px;color: rgba(255,255,255,0.3)">SOUTH KOREA</span>
	</div>
	
	<div id="viz_title" class="viz_mode">
		<span style="letter-spacing: 1px">MERS SPREAD IN S. KOREA</span>
		<!-- <span style="letter-spacing: 1px">Mers Spread in S. Korea</span> -->
		<br>
		<span style="font-size: 12px;color: rgba(255,255,255,0.4)"> 
			5.20.2015 - 
			<span id='currentDate' style="font-size: 12px;color: rgba(255,255,255,1)">
				5.20.2015</span> 
		</span>
	</div>

	<!-- visualization -->
	<div id="viz_left"></div>
	<div id="viz_right" class="viz_mode"></div>
	<div id="map_des">_ Mers Outbreak Hospitals</div>

	<div id="net_des">
		_ Nodes: Patients <br>
		_ Links: Infection route <br><br>
		<span style="color:rgba(255,255,255,0.7">
			Click on a node to retrieve it's own neighbors!
		</span>
	</div>


	<div id="patients"><span id="num_patients">0</span> Patients</div>
	<div id="deaths"><span id="num_deaths">0</span> Deaths</div>


	<!-- menu -->
	<div id="about" >ABOUT</div>
	<div id="dash" style="left:128px">|</div>
	<div id="network">NETWORK</div>
	<div id="dash2" style="left:238px">|</div>
	<div id="visualization">VISUALIZATION</div>

	<div id='viz2'></div>


	<!-- new feeds -->
	<div id='news1'>
		<div id="news1_title_box">
			<span id="news1_title">
			Seoul confirms first MERS infection case
			</span>
			<br>
			<span id="news1_date" style="font-size:12px; color:rgba(255,255,255,0.4)">05.24.2015</span>
			<span id="source1" style="font-size:12px; color:rgba(255,255,255,0.4)"></span>
		</div>	
		<br>
		<div id="news1_des">
			South Korea’s Health Ministry on Wednesday confirmed its first Middle East Respiratory Syndrome coronavirus (MERS-CoV) case in a patient who returned from Bahrain to Seoul earlier this month. The 68-year-old is currently reported to be in a stable condition.
		</div>
		<br><br><br>
		<a id="news1_bttn" href="" target="_blank">FIND OUT MORE</a>
		<!-- <div id="new1_bttn">FIND OUT MORE</div> -->
	</div>

	<div id='news2'>
		<!-- <div id="news2_img"></div> -->
		<img id="news2_img" src="/pic/mers0.jpg" />
		<div id="news2_video" ></div>

		<div id="news2_title_box">
			<span id="news2_title">
			Seoul confirms first MERS infection case
			</span>
			<br>
			<span id="news2_date" style="font-size:12px; color:rgba(255,255,255,0.4)">05.24.2015</span>
			<span id="source2" style="font-size:12px; color:rgba(255,255,255,0.4)"></span>
		</div>	

		<div id="news2_dash"></div>

		<div id="news2_des_box">
			<span id="news2_des">
			South Korea’s Health Ministry on Wednesday confirmed its first Middle East Respiratory Syndrome coronavirus (MERS-CoV) case in a patient who returned from Bahrain to Seoul earlier this month. The 68-year-old is currently reported to be in a stable condition.
			</span>

			<br><br><br>
			<!-- <span id="news2_bttn">FIND OUT MORE</span> -->
			<a id="news2_bttn" href="" target="_blank">FIND OUT MORE</a>
		</div>
	</div>


	<!-- button -->
	<div id="bttnTime" class="button viz_mode">TIME</div>
	<div id="bttnAge" class="button viz_mode">AGE</div>
	<div id="bttnMap" class="button viz_mode">MAP</div>

	<img id="arrow" src="arrow2.png" />
	<!-- <img id="menu" src="menu.png" /> -->



	<!-- about box -->
	<div id="about_box">
		<div id="about_title">MERS spread in South Korea</div>
		<div id="about_des">
			Middle East Respiratory Syndrome (MERS) was brought to South Korea in May 2015, and has now spread more rapidly than in any other country. The routes of MERS infection has been unpredictable and there was also a conflict between government and citizens about the government restricting access information on the virus outbreak. This project has been developed to show how MERS spread in South Korea and the events happened around it.<br><br>

			You can see news articles about MERS spread in South Korea in chronological order as well as a time-based visualization showing both the locations of hospitals which are infected with MERS and the number of patients that each hospital holds. The routes of viral spread are also displayed on the network graph page.
		</div>
		<div id="about_source">
			Data source:  <a target="_blank" style="text-decoration: none; color: rgba(255,255,255,0.5)" href="http://newstapa.org/mers_table">http://newstapa.org/mers_table</a> <br>
			Duration: 5.20.2015 - 7.3.2015<br>
			Contact:  <a class="source_link" href="mailto:merskorea@googlegroups.com">merskorea@googlegroups.com</a> 
		</div>
	</div>
	


	<!-- library -->
	<script src="/js/d3.min.js"></script>
	<script src="/js/queue.min.js"></script>

	<script src="/js/sigma.min.js"></script>
	<script src="/js/gexf-parser.js"></script>
	<script src="/js/sigma.parsers.gexf.js"></script>


	<!-- javascript -->
	<script src="/js/network2.js"></script>


	<script src="/js/scroll.js"></script>
	<script src="/js/viz_scroll.js"></script>
	<script src="/js/mode2.js"></script>
	<script src="/js/viz_map.js"></script>
	<script src="/js/viz_news.js"></script>


</body>
</html>

