<!-- <!DOCTYPE html> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta charset="utf-8">
	<title>Mers Spread</title>
	 <link rel="shortcut icon" href="logo2.png" />

	<!-- // <script src="//code.jquery.com/jquery-1.11.2.min.js"></script> -->
	<script src="/js/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="/css/scroll.css">
	<link rel="stylesheet" href="/css/map.css">

</head>


<body>

	<div id="title">MERS SPREAD
		<br>
		<!-- IN SOUTH KOREA -->
		<span style="font-weight:300;font-size:20px;color: rgba(255,255,255,0.3)">SOUTH KOREA</span>
	</div>


	<!-- visualization -->
	<div id="viz_left"></div>
	<div id="viz_right">
		<div id="viz_title">
			<span style="letter-spacing: 1px">Mers Patients in S. Korea</span>
			<br>
			<span style="font-size: 12px;color: rgba(255,255,255,0.4)"> 
				5.20.2015 - 
				<span id='currentDate' style="font-size: 12px;color: rgba(255,255,255,1)">
					5.20.2015</span> 
			</span>
			<!-- <hr> -->
		</div>
	</div>

	<div id="patients"><span id="num_patients">0</span> Patients</div>
	<div id="deaths"><span id="num_deaths">0</span> Deaths</div>

	<div id="about">ABOUT</div>
	<div id="dash" style="left:108px">|</div>
	<div id="network">NETWORK</div>
	<div id="dash2" style="left:218px">|</div>
	<div id="visualization">VISUALIZATION</div>


	<!-- button -->
	<div id="bttnTime" class="button">TIME</div>
	<div id="bttnAge" class="button">AGE</div>
	<div id="bttnMap" class="button">MAP</div>

	<img id="arrow" src="arrow2.png" />
	<!-- <img id="menu" src="menu.png" /> -->


	<!-- library -->
	<script src="/js/d3.min.js"></script>
	<script src="/js/queue.min.js"></script>
	<script src="/js/sigma.min.js"></script>
	<script src="/js/gexf-parser.js"></script>
	<script src="/js/sigma.parsers.gexf.js"></script>


	<!-- javascript -->
	<script src="/js/scroll.js"></script>
	<script src="/js/viz_scroll.js"></script>
	<script src="/js/mode2.js"></script>
	<script src="/js/viz_map.js"></script>

</body>
</html>

