@font-face {
	font-family: Neue;
	src: url(NeueHaasUnicaPro-Regular.ttf);
}

@font-face {
	font-family: HelveticaN;
	src: url(Helvetica.ttf);
}

@font-face {
	font-family: NeueThin;
	src: url(NeueHaasUnicaPro-Thin.ttf);
}

@font-face {
	font-family: Namsan;
	src: url(namsan.ttf);
}

body {
	font-family: 'HelveticaN', sans-serif;
	background-color: black;
	color: white;
}

#bg {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-image: url("/pic/mers0.jpg");
	opacity: 0.8;
}

#title {
	position: absolute;
	left: 50%;
	width: 400px;
	margin-left: -200px;

	font-weight: 600;
	font-size: 34px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	padding: 6px;
	line-height: 140%;
}

#arrow  {
	position: absolute;

	bottom: 60px;
	left: 50%;
	margin-left: -17px;
	width: 34px;
}

#menu  {
	position: absolute;
	top: 60px;
	right: 30px;
	width: 40px;
}



