@font-face {
	font-family: Neue;
	src: url(NeueHaasUnicaPro-Regular.ttf);
}

@font-face {
	font-family: HelveticaN;
	src: url(Helvetica.ttf);
}

@font-face {
	font-family: NeueThin;
	src: url(NeueHaasUnicaPro-Thin.ttf);
}

@font-face {
	font-family: Namsan;
	src: url(namsan.ttf);
}

body {
	font-family: 'HelveticaN', sans-serif;
	background-color: black;
	color: white;
	height: 2800px;
}

#viz_left {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 100%;
	/*background-color: rgba(255,255,255,0.1);*/
	padding: 0px;
	margin: 0px;
}

#viz_right {
	position: fixed;
	right: 0px;
	top: 0px;
	width: 25%;
	background-color: rgba(255,255,255,0.0);
	padding: 0px;
	margin: 0px;
	opacity: 0;
}

#viz_title {
	position: fixed;
	left: 60px;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 12px;
	top: 42px;
	letter-spacing: 0px;
	line-height: 160%;
}

#deaths {
	position: fixed;
	top: 120px;
	right: 2%;
	font-family: 'HelveticaN', sans-serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	color: #ed526f;
	opacity: 0;
}

#patients {
	position: fixed;
	top: 100px;
	right: 2%;
	font-family: 'HelveticaN', sans-serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	opacity: 0;
}

#title {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -76px;

	font-weight: 300;
	font-size: 30px;
	text-align: center;
	background-color: rgba(255,255,255,0.0);
	padding: 6px;
	line-height: 140%;
}

#arrow  {
	position: fixed;

	bottom: 60px;
	left: 50%;
	margin-left: -17px;
	width: 30px;
}

#menu  {
	position: fixed;
	top: 60px;
	right: 30px;
	width: 30px;
}

#tooltip {   
	font-family: 'Namsan', sans-serif;
	position: absolute;
	z-index: 30; 
	text-align: center;
	padding: 10px;       
	font-size: 12px;
	border: 1px;
	border-radius: 4px;
	pointer-events: none;
	letter-spacing: 1px;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
}

/*  axis  */
.axis path {
	fill: none;
	stroke: none;
}
.axis line {
	fill: none;
	stroke: rgba(255,255,255,0.3);
}
.axis {
	font-size: 11px;
	font-family: 'HelveticaN', sans-serif;
	fill: rgba(255,255,255,0.9);
	stroke: none;
}

/*  button  */
.button {
	font-family: 'HelveticaN', sans-serif;
	font-size: 9px;
	position: fixed;
	top: 50px;
	width: 5.8%;
	padding: 5px;

	text-align: center;
	background-color: rgba(255,255,255,0.16);
	border: 1px solid rgba(255,255,255,0);
	cursor: pointer;
}

#bttnTime {
	right: 16%;
	border-color: rgba(255,255,255,0.5);
	opacity: 0;
}

#bttnAge {
	right: 9%;
	opacity: 0;
}

#bttnMap {
	right: 2%;
	opacity: 0;
}

.text_age {
	font-family: 'HelveticaN', sans-serif;
	font-size: 11px;
	fill: rgba(255,255,255,0.9);
	stroke: none;
}

/* g */
#graph {

}

#states {
	visibility: hidden;
}

#about {
	position: fixed;
	left: 60px;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 10px;
	bottom: 25px;
	letter-spacing: 0px;
	line-height: 160%;
	cursor:pointer;
	color: rgba(255,255,255,0.3);
	opacity: 0;
}

#network {
	position: fixed;
	left: 160px;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 10px;
	bottom: 25px;
	letter-spacing: 0px;
	line-height: 160%;
	cursor:pointer;
	color: rgba(255,255,255,0.3);
	opacity: 0;
}

#visualization {
	position: fixed;
	left: 266px;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 10px;
	bottom: 25px;
	letter-spacing: 0px;
	line-height: 160%;
	cursor:pointer;
	color: rgba(255,255,255,0.3);
	opacity: 0;
}

#dash {
	position: fixed;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 10px;
	bottom: 25px;
	line-height: 160%;
	color: rgba(255,255,255,0.3);
	opacity: 0;
}

#dash2 {
	position: fixed;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 10px;
	bottom: 25px;
	line-height: 160%;
	color: rgba(255,255,255,0.3);
	opacity: 0;
}

#about:hover { color: white; }
#network:hover { color: white; }
#visualization:hover { color: white; }


#viz2 {
	position: fixed;
	left: 40px;
	bottom: 55px;
	width: 95%;
	height: 80%;
	border-radius: 0px;
	visibility: hidden;
}

.viz_mode {
	opacity: 0;
}

#map_des {
	position: fixed;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 10px;
	right: 2%;

	bottom: 40px;
	line-height: 160%;
	color: rgba(255,255,255,0.6);
	letter-spacing: 1px;
	visibility: hidden;
	opacity: 0;
}

#net_des {
	position: fixed;
	font-weight: 300;
	font-family: 'HelveticaN', sans-serif;
	font-size: 10px;
	right: 20px;
	padding: 20px;

	bottom: 40px;
	line-height: 160%;
	color: rgba(255,255,255,0.7);
	background-color: rgba(255,255,255,0.1);
	letter-spacing: 1px;
	/*line-height: 180%;*/
	line-height: 160%;
	visibility: hidden;
	opacity: 0;
}



