#viz {
	position: absolute;
	z-index: 10;
	right: 20px;
	top: 5%;
	width: 46%;
	height: 90%;
	background-color: rgba(38, 40, 60, 0.6);
	border-radius: 20px;
}

#bg {
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 5%;
	width: 46%;
	height: 90%;
	background-color: #cfcfcf;
	opacity: 0;
	border-radius: 20px;
}


#title {
	position: absolute;
	z-index: 15;
	right: 20px;
	width: 46%;
	text-align: center;
	color: white;
	font-size: 20px;
	top: 12%;
}

.text_age {
	font-family: 'Namsan', sans-serif;
	/*background-color: rgba(0,0,0,0.6) !important;*/
	font-size: 11px;
	fill: rgba(255,255,255,0.9);
	stroke: none;
}