#viz {
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 0px;
	width: 46%;
	height: 100%;
	/*background-color: rgba(0,0,0,0.7);*/
	background-color: rgba(38, 40, 60, 0.8);
	border-radius: 0px;
}

#viz2 {
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 0px;
	width: 46%;
	height: 100%;
	/*background-color: rgba(0,0,0,0.7);*/
	background-color: rgba(38, 40, 60, 0.8);
	border-radius: 0px;
	visibility: hidden;
}

#bg {
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 0px;
	width: 46%;
	height: 100%;
	background-color: #cfcfcf;
	opacity: 0;
	border-radius: 20px;
}


#title {
	position: absolute;
	z-index: 15;
	right: 0px;
	width: 46%;
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
	top: 0px;
	padding-top: 40px;
	padding-bottom: 54px;
	background-color: rgba(255,255,255,0.08);
}

.title2 {
	position: absolute;
	z-index: 15;
	right: 0px;
	width: 46%;
	text-align: center;
	font-size: 11px; 
	color: rgba(255,255,255,0.6); 
	/*background-color: rgba(255,255,255,0.1);*/
	letter-spacing: 1px;
	top: 0px;
	padding-top: 74px;
	line-height: 160%;
}

.text_age {
	font-family: 'Namsan', sans-serif;
	font-size: 11px;
	fill: rgba(255,255,255,0.9);
	stroke: none;
}

.node {
  stroke: #fff;
  stroke-width: 0px;
  visibility: hidden;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  visibility: hidden;
}

.circles {
	/*visibility: hidden;*/
}

.line_age {

}

.text_age {

}

#zoom_in {
	position: absolute;
	z-index: 30;
	font-size: 16px;
	right: 10px;
	bottom: 77px;
	/*top: 140px;*/

	width: 26px;
	height: 26px;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	color: white;
	line-height: 62.5%;

	visibility: hidden;
}

#zoom_out {
	position: absolute;
	z-index: 30;
	font-size: 16px;
	right: 10px;
	/*top: 168px;*/
	bottom: 50px;

	width: 26px;
	height: 26px;
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	color: white;
	line-height: 62.8%;

	visibility: hidden;
}








